import sentry_sdk
from sentry_sdk.integrations.django import DjangoIntegration
from .settings import *


DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'crmneo',
        'USER': '',
        'PASSWORD': '',
        'HOST': 'localhost',
        'PORT': 5432,
    }
}

sentry_sdk.init(
    dsn=os.environ.get('SENTRY_URL', ''),
    integrations=[DjangoIntegration()],
    send_default_pii=True
)

FRONTEND_DOMAIN = 'https://app.crmneo.com'

EMAIL_HOST = 'smtp.mail.ru'
EMAIL_USE_TLS = True
EMAIL_PORT = 2525
EMAIL_HOST_USER = ''
EMAIL_HOST_PASSWORD = ''

SERVER_EMAIL = EMAIL_HOST_USER
DEFAULT_FROM_EMAIL = EMAIL_HOST_USER

STATIC_ROOT = '/static'
MEDIA_ROOT = '/uploads'