{% extends "admin/base_site.html" %}
{% load i18n %}

{% block userlinks %}
    {% if user.has_usable_password %}
        <a href="{% url 'admin:password_change' %}">
            Профиль ({% firstof user.get_short_name user.get_username %})
        </a> /
    {% endif %}

    <form id="logout-form" method="post" action="{% url 'admin:logout' %}">
        {% csrf_token %}
        <button type="submit">{% translate 'Log out' %}</button>
    </form>
    {% include "admin/color_theme_toggle.html" %}
{% endblock %}